<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite">

<!--    <listeners>-->
<!--        <listener class-name="Frontend.RetryListenerClass"/>-->
<!--    </listeners>-->

    <test parallel="methods" thread-count="5" name="Test_ViewItem_US">
        <classes>
            <class name="Frontend.ViewCartUi" />
        </classes>
    </test>

    <test parallel="methods" thread-count="5" name="Test_ViewItem_API">
        <classes>
            <class name="Backend.ViewCartApi" />
        </classes>
    </test>

</suite>